h1 {
	font-size: 100px;
}

.container-main {
	background: red;
	display: flex;
	border: 10px solid black;
}
.mitoco_detail {
	background: pink;
	border: 10px solid black;
	padding-left: 1%;
	margin: 5%;
	width: 40%;
	height: 50%;
}
.mitoco_img {
	border: 10px solid black;
	padding-left: 1%;
	margin: 5%;
	width: 60%;
	height: 40%;
}

.container {
	display: flex;
}

.left {
	flex: 1;
	background-color: red; /* Example background color */
	width: 50%;
	height: 10;
	box-sizing: border-box;
}

.right {
	flex: 1;
	background-color: lightgreen; /* Example background color */
}
.sd{
	flex: none;
    height: auto;
    width: 29px;
    max-width: 100%;
}
.sd appear{
	align-content: flex-start;
    align-items: flex-start;
    flex: none;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: auto;
    max-width: 100%;
}
.link sd appear{
	align-content: center;
    align-items: center;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 4px;
    padding: 0px;
    width: calc(16.666666% - 8px);
    max-width: calc(16.666666% - 8px);
}

.text sd appear {
	align-content: center;
	align-items: center;
	flex: none;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	margin: 4px;
	padding: 0px;
	width: calc(16.666666% - 8px);
	max-width: calc(16.666666% - 8px);
}

.
