<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div
			style="margin-top: 10px; display: flex"
			class="divWidth divPosition divMLeft"
		>
			<!-- SalesForce Partner -->
			<!--	<a class="partnerLogoImageW partnerLogoImageH contentSpace" href="#">
        <img  src="/sfsites/c/resource/TSTH_Homepage_ContentImage/TSTH_Homepage_ContentImage/Logo/salesforce_partner_badge.png">
        </a>  	-->
			<!-- <img class="partnerLogoImageW partnerLogoImageH contentSpace" src="/sfsites/c/resource/TSTH_Homepage_ContentImage/TSTH_Homepage_ContentImage/Logo/salesforce_partner_badge.png">  -->
			<!-- mitoco -->
			<!--	<a class="mitocoLogoImageW mitocoLogoImageH contentSpace box-logo" style="margin-top: 15px;" href="#">
        <img src="/sfsites/c/resource/TSTH_Homepage_ContentImage/TSTH_Homepage_ContentImage/Logo/mitoco_logo.png">
        </a> -->
			<!-- Linkedin -->
			<a
				href="https://www.linkedin.com/company/terraskythailand/"
				target="_blank"
				class="partnerLogoImageW partnerLogoImageH contentSpace box-logo"
			>
				<img
					src="/sfsites/c/resource/TSTH_Homepage_ContentImage/TSTH_Homepage_ContentImage/Logo/linkedin_logo.svg"
				/>
			</a>
			<!-- Medium -->
			<a
				href="https://medium.com/@terrasky_thailand"
				target="_blank"
				class="partnerLogoImageW partnerLogoImageH contentSpace box-logo"
			>
				<img
					src="/sfsites/c/resource/TSTH_Homepage_ContentImage/TSTH_Homepage_ContentImage/Logo/medium_logo.svg"
				/>
			</a>
		</div>
	</body>
</html>
