<div
	class="divWidth divPosition divMLeft"
	style="margin-top: 25px; display: flex"
>
	<!-- SalesForce Partner -->
	<a
		class="salesforcePartnerLogoW salesforcePartnerLogoH contentSpace"
		href="#"
	>
		<img
			src="/sfsites/c/resource/TSTH_Homepage_ContentImage/TSTH_Homepage_ContentImage/Logo/salesforce_partner_badge.png"
		/>
	</a>
	<!-- mitoco -->
	<a
		class="mitocoLogoImageW mitocoLogoImageH contentSpace box-logo"
		style="margin-top: 15px"
		href="#"
	>
		<img
			src="/sfsites/c/resource/TSTH_Homepage_ContentImage/TSTH_Homepage_ContentImage/Logo/mitoco_logo.png"
		/>
	</a>
</div>
